<h1>Listing categoria</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Proyecto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categoria.each do |categorium| %>
  <tr>
    <td><%= categorium.name %></td>
    <td><%= categorium.proyecto %></td>
    <td><%= link_to 'Show', categorium %></td>
    <td><%= link_to 'Edit', edit_categorium_path(categorium) %></td>
    <td><%= link_to 'Destroy', categorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categorium', new_categorium_path %>
