<% content_for :header do %>
  <div class="row">
    <div class="large-3 columns">
      <h1><img src="/assets/gafas.png" /></h1>
    </div>
    <div class="large-9 columns">
      <hgroup>
        <h2><%= @users.name %></h2>
        <h4><%= @users.ocupacion %></h4>
        <p>Github: <a href="<%= @users.github %>" target="_blank"><%= @users.github %></a></p>
        <p>Linkedin: <a href="<%= @users.linkedin %>" target="_blank"><%= @users.linkedin %></a></p>
      </hgroup>
    </div>
   </div>
 <% end%>
  
<!-- End Header and Nav -->
 
<!-- First Band (Slider) -->
 
<div class="borbottom">
  <div class="row">
    <div class="large-6 columns">
      <h4>Descripción</h4>
      <p><%= @users.descriptin %></p>
    </div>
    <div class="large-6 columns">
      <div id="container">
      </div>
    </div>
  </div>
</div>
  
<!-- Three-up Content Blocks proyectos -->
 
<div class="marbottom">
  <div class="row">
    <h4>Proyectos</h4>
    <% @proyectos.each do |p|%>
      <div class="large-3 columns contProy">
        <a class="th radius"><img src="http://placehold.it/400x300&text=[img]" /></a>
        <h4><%= p.name %></h4>
        <%= link_to p.url, p.url, target: "_blank"  %>
        <p><%= p.desc_corta %></p>
        <div class="panel">
          <% p.skills.each do |s|%>
            <div class="label secondary"><%= s.name %></div>
          <% end%>
        </div>
      </div>
    <% end%>
  </div>
</div>
    
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
 
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
  <% content_for :footer_scripts do %>
    <%= javascript_tag do%>
      var cat = <%=raw @arrayname %> 
      var per = <%=raw @arrayper %> 
      $(document).on( 'ready', chart )
    <% end %>
  <% end %>
