<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Imagen:</b>
  <%= image_tag @project.photo.url(:medium) %>
</p>

<p>
  <b>Desc corta:</b>
  <%= @project.desc_corta %>
</p>

<p>
  <b>Url:</b>
  <%= @project.url %>
</p>
<b>labels:</b>
<% @project.skills.each do |s| %>
  <p>
    <%= s.name %>
  </p>
<% end %>

<%= link_to 'Edit', edit_admin_project_path(@project) %> |
<%= link_to 'Back', admin_projects_path %>
