<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Imagen:</b>
  <%= @project.imagen %>
</p>

<p>
  <b>Desc corta:</b>
  <%= @project.desc_corta %>
</p>

<p>
  <b>Url:</b>
  <%= @project.url %>
</p>
<b>labels:</b>
<% @project.labels.each do |p| %>
  <p>
    <%= p.name %>
  </p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
