<table>
  <tr>
    <th>Name</th>
    <th>Descriptin</th>
    <th>Ocupacion</th>
    <th>Image</th>
    <th>E-mail</th>
    <th>Github</th>
    <th>Linkedin</th>
    <th>Celular</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.descriptin %></td>
      <td><%= user.ocupacion %></td>
      <td><%= user.image %></td>
      <td><%= user.mail %></td>
      <td><%= user.github %></td>
      <td><%= user.linkedin %></td>
      <td><%= user.celular %></td>
      <td><%= link_to "Show", [:admin, user] %></td>
      <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
      <td><%= link_to "Destroy", [:admin, user], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/User", new_admin_user_path %></p>
