<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Descriptin:</strong>
  <%= @user.descriptin %>
</p>
<p>
  <strong>Ocupacion:</strong>
  <%= @user.ocupacion %>
</p>
<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>
<p>
  <strong>Skills:</strong>
  <% @user.skills.each do |s| %>
    <%= s.name %>
    <%= s.percent %>
  <% end%>
</p>

<p>
  <%= link_to "Edit", edit_admin_user_path(@user) %> |
  <%= link_to "Destroy", [:admin, @user], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_users_path %>
</p>
