<!DOCTYPE html>
<html>
<head>
  <title>Portafolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="linetop"></div>
  <header class="wrap-header">
    <div class="contlogo">
      <%= yield :header %>
    </div>
  </header>


<%= yield %>

  <%= javascript_include_tag "application" %>
  <footer>
    <%= yield :footer %>
  </footer>
  <%= yield :footer_scripts %>
</body>
</html>
